:root {
    --title-text-color: #212121;
    --primery-text-color: #757575;
    --accent-test-color: #FFFFFF;
    --accent-color: #2196F3;
    --main-backgound-color: #E5E5E5;
    --team-backgound-color: #F5F4FA;
    --footer-backgound-color: #2F303A;
    --heder-logo-color: #000000;
    

}
body {
    background-color:
     var(--main-backgound-color);
     color: var(--primery-text-color);
     }
.list { list-style: none;
}
/* навигация */
.nav-links {
    color:var(--title-text-color);
} 
.nav-links:hover,
.nav-links:focus,
.nav-links:active {
   color:var(--accent-color);
}


.active-links {
    color: var(--primery-text-color);
}
.active-links:hover, 
.active-links:focus,
.active-links:active {
    color: var(--accent-color);
}
/* герой */
.hero-title {
    color: var(--accent-test-color);
}
.hero-button {
    color: var(--accent-test-color);
    background: var(--accent-color);
}

/* секции */
.section-title {
    color: var(--title-text-color);
}
.benefits .subtitle {
    color: var(--title-text-color);
}
.team .member {
    color: var(--title-text-color);
}
/* клопки порфолио */
.active-btn {
    background-color:var(--team-backgound-color);
    color: var(--title-text-color);
}
.active-btn:hover,
.active-btn:focus,
.active-btn:active {
    background-color: var(--accent-color);
    color:var(--accent-test-color);
}

.accent-logo {color: var(--accent-color);}
.header-logo {color: var(--heder-logo-color);}
.footer-logo {color: var(--accent-test-color);}





/* цвет второстепенного текста #212121*/
/* цвет заголовков текста #757575 */
/* цвет акцента #2196F3 */
/* цвет белого текста #FFFFFF */
/* цвет черной части лого в хедере #000000 */
/* цвет основного фона #E5E5E5 */
/* цвет дополнтительного фона #F5F4FA */
/* цвет фона хедера #FFFFFF */
/* цвет фона футера #2F303A */

