body{
    background-color: #E5E5E5;
}

/* цвет основного текста #212121*/
/* цвет второстепенного текста #757575 */
/* цвет акцента #2196F3 */
/* цвет белого текста #FFFFFF */
/* цвет черной части лого в хедере #000000 */
/* цвет основного фона #E5E5E5 */
/* цвет дополнтительного фона #F5F4FA */
/* цвет фона хедера #FFFFFF */
/* цвет фона футера #2F303A */
.accent-logo{color:#2196F3;}
.main-logo{color:#000000;}
.activ-link{color:#2196F3;}